@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
    margin: 0;
    padding: 0;
    background: #bdc3c7;
    font-family: 'Montserrat';
}

header{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}

.judul{
    float: left;
    width: 30%;
}

.judul h1{
    font-size: 25px;
}

h1 a{
    padding: 25px;
    text-decoration: none;
    color: black;
}

nav{
    float: left;
    width: 70%;
}

ul{
    float: right;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
}

li a:hover{
    background-color: white;
    border-bottom: 1px solid black;
}

main{
    float: left;
    width: 100%;
    color: white;
}

.content{
    float: left;
    width: 30%;
    height: 300px;
    background-color: whitesmoke;
    margin:22px;
}
